Repository anauwal/wa_hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core

lint:
  name: lint
  language: system
  entry: bash -c '$HOME/.nvm/nvm-exec npm run lint'
  pass_filenames: false

no-plus-in-core:
  name: No "plus" in core
  language: pygrep
  entry: plus

main
  docker-compose.yaml
  how_to
Due: none

main
  docs/site/content/en/docs/how-to/sessions/index.md
  docs/site/content/en/docs/overview/introduction.md
  docs/site/static/site.webmanifest
  docs/site/static/swagger/openapi.json
  src/core/swagger.module.core.ts
Due: lint, no-plus-in-core

chore: Update dependencies
  docker-compose.yaml
  package.json
  src/core/session.noweb.core.ts
  src/core/session.webjs.core.ts
  yarn.lock
Due: lint, no-plus-in-core

chore: Update docker-compose.yaml for WhatsApp API events
  docker-compose.yaml
Due: none

chore: Update docker-compose.yaml to hook all WhatsApp API events
  docker-compose.yaml
Due: none

chore: Update docker-compose.yaml to set WhatsApp default engine to NOWEB
  docker-compose.yaml
Due: none

DEV
  package.json
  src/version.ts
  yarn.lock
Due: lint

chore: Update docker-compose.yaml to set WhatsApp default engine to WEBJS
  docker-compose.yaml
Due: none

INIT
  .gitignore
  package.json
  src/api/chats.controller.ts
  src/core/abc/session.abc.ts
  src/core/session.noweb.core.ts
  yarn.lock
Due: lint, no-plus-in-core

chore: Update Dockerfile and docker-compose.yaml for WhatsApp API configuration
  Dockerfile
  docker-compose.yaml
  package.json
  src/api/chats.controller.ts
  src/core/abc/session.abc.ts
  src/core/session.noweb.core.ts
  src/core/session.webjs.core.ts
  src/structures/chatting.dto.ts
Due: lint, no-plus-in-core

Path conditions:
  lint: any of: (?x)^(
    src/.*|
)$

  no-plus-in-core: any of: (?x)^(
    src/api/.*|
    src/core/.*|
    src/structures/.*|
    src/config.service.ts|
)$

